<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>نريد إرسال تذكيرات بأوقات الأذكار والصلوات</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يستخدم التطبيق موقعك لحساب مواقيت الصلاة وتحديد اتجاه القبلة</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>SentryDSN</key>
	<string>https://e581ff4ea38f38ef8d6504006662fa27@o4510562380152832.ingest.de.sentry.io/4510869351628880</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
</dict>
</plist>
